#grid-container {
    height: 900px;
    width: 900px;
    display: flex;
    flex-direction: column; 
    border: 1px solid black;
    overflow: hidden;  
}


.row{
    
    display: flex;
    border: 1px solid black;
    box-sizing: border-box;
    flex: 1; 
}


.column {
    flex: 1;
    aspect-ratio: 1 / 1;  
    border: 1px solid black;
    background-color: bisque;
    transition: background-color 0.3s ease;
   
}

button{
    margin-bottom: 20px;
}